body {
  background-color: #222;
  color: aliceblue;
}

.top h1 {
  text-align: center;
  padding: 30px 10px;
}

label {
  margin-bottom: 10px;
}

form {
  margin-bottom: 40px;
}

.list {
  padding: 0;
  list-style: none;
}

.task {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
}

.task + .task {
  margin-top: 20px;
}

.delete {
  margin-left: 10px;
}
